# Solution 3

* Importing CSV

In [1]:
import csv

* Write 5 records using writer object in file.

In [2]:
header=["Empid","Empname","Department","Experience","Salary"]
record=[[1,"om","bca",2,6000],[2,"sai","bba",3,7000],[3,"ram","bca",1,5000],[4,"shiv","bba",4,9000],[5,"shambhu","bca",4,10000]]
with open('salary.csv','w',newline="") as obj:
    write=csv.writer(obj)
    write.writerow(header)
    write.writerows(record)
    print("csv created")

csv created

* Read file using reader object and print file in proper format.

In [3]:
o=open("salary.csv","r")
r=csv.reader(o)
for n in r:
    print(n)

['Empid', 'Empname', 'Department', 'Experience', 'Salary']
['1', 'om', 'bca', '2', '6000']
['2', 'sai', 'bba', '3', '7000']
['3', 'ram', 'bca', '1', '5000']
['4', 'shiv', 'bba', '4', '9000']
['5', 'shambhu', 'bca', '4', '10000']

* Append 2 record into file and display it.

In [4]:
add=[[6,"Narayan","bca",3,6000],[7,"Vishnu","bba",5,8000]]
with open('salary.csv','a',newline="") as app:
    w=csv.writer(app)
    w.writerows(add)
o=open("salary.csv","r")
r=csv.reader(o)
for n in r:
    print(n)

['Empid', 'Empname', 'Department', 'Experience', 'Salary']
['1', 'om', 'bca', '2', '6000']
['2', 'sai', 'bba', '3', '7000']
['3', 'ram', 'bca', '1', '5000']
['4', 'shiv', 'bba', '4', '9000']
['5', 'shambhu', 'bca', '4', '10000']
['6', 'Narayan', 'bca', '3', '6000']
['7', 'Vishnu', 'bba', '5', '8000']

* Importing pandas library

In [5]:
import pandas as pd

* Read data from file and print total salary of 'bca' department.

In [6]:
d=pd.read_csv("salary.csv")
df=pd.DataFrame(d)
sm=df.loc[df['Department']=='bca','Salary']
print("Total salary of BCA department is",sm.sum())

Total salary of BCA department is 27000

* Read file using PANDA library and display records.

In [7]:
df

   Empid  Empname Department  Experience  Salary
0      1       om        bca           2    6000
1      2      sai        bba           3    7000
2      3      ram        bca           1    5000
3      4     shiv        bba           4    9000
4      5  shambhu        bca           4   10000
5      6  Narayan        bca           3    6000
6      7   Vishnu        bba           5    8000